<p>Providers for {{ dentalService.name }}</p>

@if(providers.length == 0) {
<p class="text-gray-500">No providers available for this service.</p>
} @else {
<div class="">
  @for(provider of providers; track provider.id) {
  <div class="bg-white p-4 rounded shadow">
    <h3 class="text-lg font-semibold">{{ provider.name }}</h3>
    <p class="text-gray-700">{{ provider.address }}</p>
    <p class="text-gray-500">{{ provider.description }}</p>
    <p class="text-gray-800">Price: {{ provider.price }} denari</p>
  </div>
  }
</div>
}
